.contacts {
    width: 100%;
    padding: 100px 0px 40px;
}

.contacts__inner {
    border-radius: 40px;
    background: var(--background-container, #665F55);
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;
    gap: 100px;
    align-self: stretch;
}

.contacts-text {
    width: 530px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
}

.contacts-text__heading {
    color: var(--text-accent, #B0907A);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Desktop/Heading/heading-2.accent */
    font-family: Inter;
    font-size: 60px;
    font-style: italic;
    font-weight: 600;
    line-height: 125%;
}

.contacts-text__heading .note {
    color: var(--text-light, #E1D4C9);
    font-style: normal;
}

.contacts-text__socials {
    // width: 204px;
}

.contacts-text__socials .menu__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contacts-text__socials .menu__list .menu__list-item:nth-child(1) {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--border-light, #C1B6AD);
    cursor: pointer;
}

.contacts-text__socials .menu__list .menu__list-item:nth-child(2) {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--border-light, #C1B6AD);
    cursor: pointer;
}

.contacts-text__socials .menu__list .menu__list-item:nth-child(3) {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--border-light, #C1B6AD);
    cursor: pointer;
}

.contacts-text__socials .menu__list .menu__list-item:nth-child(1) .contacts-text__socials-img {
    width: 24px;
    height: 24px;
    background-image: url(../../assets/icons/twitter.svg);
    background-size: cover;
}

.contacts-text__socials .menu__list .menu__list-item:nth-child(2) .contacts-text__socials-img {
    width: 24px;
    height: 24px;
    background-image: url(../../assets/icons/instagram.svg);
    background-size: cover;
}

.contacts-text__socials .menu__list .menu__list-item:nth-child(3) .contacts-text__socials-img {
    width: 24px;
    height: 24px;
    background-image: url(../../assets/icons/facebook.svg);
    background-size: cover;
}

.contacts__info {
    width: 530px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
}

.contacts__info-heading {
    color: var(--text-light, #E1D4C9);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}
.contacts__info.menu__list {
    color: var(--text-light, #E1D4C9);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
.menu__list-item {
    list-style-type: none;
    display: flex;
}
.menu__list-item-block{
    display: flex;
    justify-content: space-between;
}
.menu__list-item-img.location {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background: url(../../assets/icons/pin-alt.svg);
}
.menu__list-item-img.phone {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background: url(../../assets/icons/phone.svg);
}
.menu__list-item-img.day {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background: url(../../assets/icons/clock.svg);
}


.contacts-text__socials .menu__list .menu__list-item:hover {
    background-color: #E1D4C9;
}

.contacts-text__socials .menu__list .menu__list-item:nth-child(1):hover .contacts-text__socials-img,
.contacts-text__socials .menu__list .menu__list-item:nth-child(2):hover .contacts-text__socials-img,
.contacts-text__socials .menu__list .menu__list-item:nth-child(3):hover .contacts-text__socials-img {
    filter: invert(50%) brightness(50%) contrast(50%);
}

.contacts__info .menu__list-item:nth-child(1):hover,
.contacts__info .menu__list-item:nth-child(2):hover {
    display: flex;
    text-decoration: none;
    color: #000;
    position: relative;
}

.contacts__info .menu__list-item a {
    text-decoration: none;
}

.contacts__info .menu__list-item a:visited,
.contacts__info .menu__list-item a:link,
.contacts__info .menu__list-item a:active,
.contacts__info .menu__list-item a:hover {
    color: #E1D4C9;
    text-decoration: none;
}

.contacts__info .menu__list-item:nth-child(1):hover,
.contacts__info .menu__list-item:nth-child(2):hover {
    cursor: pointer;
}

.contacts__info .menu__list-item:nth-child(1):after,
.contacts__info .menu__list-item:nth-child(2):after {

    content: "";
    background-color: #E1D4C9;
    height: 2px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.2s;
}

.contacts__info .menu__list-item:nth-child(1):hover::after,
.contacts__info .menu__list-item:nth-child(2):hover::after {
    width: 100%;
}