.hero {
    width: 100%;
    height: auto;
}

.hero__inner {
    background-image: url(../../assets/images/img-hero.jpg);
    width: 1360px;
    height: 644px;
    border-radius: 40px;
    display: flex;
    align-items: center;

}

.hero__text {
    padding-left: 100px;
    width: 530px;
    height: 444px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero__text-heading {
    color: #E1D4C9;
    font-feature-settings: 'clig' off, 'liga' off;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Inter', sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 105%;
}

.hero__text-subheading {
    color: #E1D4C9;
    font-feature-settings: 'clig' off, 'liga' off;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* Desktop/Body/medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.hero__text-button {
    width: 200px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #E1D4C9;
    font: 16px sans-serif;
    cursor: pointer;
}
.hero__text-button a{
    color: var(--text-dark, #403F3D);
    text-decoration: none;
}

.hero__text-button-img{
    display: none;
    width: 20px;
    height: 20px;
    content: url(../../assets/images/coffee-cup.png);
    padding-left: 8px;
}
.hero__text-button:hover .hero__text-button-img{
    display: block;
}