.body {
  background-color: #E1D4C9;
}

.header {
  width: 100%;
}

.container {
  width: 1360px;
  margin: 0 auto;
}

.header__inner {
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.header__logo {
  width: 100px;
  height: 60px;
  background-image: url(../../assets/images/logo.png);
  background-size: 100%;
}

.nav-menu {
  width: 456px;
  color: var(--text-dark, #403F3D);
  font-feature-settings: "clig" off, "liga" off;
  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 24px */
}

.nav-menu__list {
  width: 456px;
  display: flex;
  justify-content: space-between;
  height: 27px;
  align-items: center;
  list-style: none;
}

.header__inner a,
.nav-link:link,
.nav-link:visited,
.header__link:link,
.header__link:visited {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000;
  position: relative;
}

.nav-link:hover,
.nav-link:active,
.header__link:hover,
.header__link:active {
  cursor: pointer;
}

.nav-link::after,
.header__link::after {
  content: "";
  background-color: #000;
  height: 2px;
  width: 0;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: all 0.2s;
}

.nav-link:hover::after,
.nav-link:active::after,
.header__link:hover::after,
.header__link:active::after {
  width: 100%;
}

.header__link {
  display: flex;
  justify-content: space-between;
  width: 72px;
  height: 28px;
  color: #403F3D;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.header__link-img {
  width: 20px;
  height: 20px;
  content: url(../../assets/images/coffee-cup.png);
}

.hero {
  width: 100%;
  height: auto;
}

.hero__inner {
  background-image: url(../../assets/images/img-hero.jpg);
  width: 1360px;
  height: 644px;
  border-radius: 40px;
  display: flex;
  align-items: center;
}

.hero__text {
  padding-left: 100px;
  width: 530px;
  height: 444px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero__text-heading {
  color: #E1D4C9;
  font-feature-settings: "clig" off, "liga" off;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Inter", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
}

.hero__text-heading i {
  color: #B0907A;
}

.hero__text-subheading {
  color: #E1D4C9;
  font-feature-settings: "clig" off, "liga" off;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* Desktop/Body/medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
}

.hero__text-button {
  width: 200px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #E1D4C9;
  font: 16px sans-serif;
  cursor: pointer;
}

.hero__text-button a {
  color: var(--text-dark, #403F3D);
  text-decoration: none;
}

.hero__text-button-img {
  display: none;
  width: 20px;
  height: 20px;
  content: url(../../assets/images/coffee-cup.png);
  padding-left: 8px;
}

.hero__text-button:hover .hero__text-button-img {
  display: block;
}

.favorite-coffee {
  width: 100%;
}

.favorite-coffee__inner {
  width: 100%;
  padding: 100px 0px;
}

.favorite-coffee__title {
  width: 100%;
  color: #403F3D;
  text-align: center;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.favorite-coffee__title i {
  color: #B0907A;
}

.favorite-coffee__slider {
  width: 100%;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.favorite-coffee__slider-item {
  display: flex;
  width: 480px;
  max-width: 480px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.slider-item__image {
  width: 480px;
  height: 480px;
  background-image: url(../../assets/images/coffee-slider-1.png);
  background-size: 100%;
}

.slider-item__text {
  width: 480px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider-item__heading {
  color: var(--text-dark, #403F3D);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.slider-item__subheading {
  color: var(--text-dark, #403F3D);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.slider-item__price {
  color: var(--text-dark, #403F3D);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.slider-button__slider-left {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/icons/arrow-left.svg);
  background-size: cover;
  border-radius: 100px;
  border: 1px solid var(--border-dark, #665F55);
  cursor: pointer;
}

.slider-button__slider-right {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/icons/arrow-right.svg);
  background-size: cover;
  border-radius: 100px;
  border: 1px solid var(--border-dark, #665F55);
  cursor: pointer;
}

.slider-button__slider-left:hover,
.slider-button__slider-right:hover {
  background: #665F55;
}

.slider-button__slider-left:hover {
  width: 60px;
  height: 60px;
  background-image: url(../../assets/icons/arrow-white.svg);
  background-size: cover;
  transform: rotate(180deg);
}

.slider-button__slider-right:hover {
  width: 60px;
  height: 60px;
  background-image: url(../../assets/icons/arrow-white.svg);
  background-size: cover;
}

.favorite-coffee__slider-stripes {
  width: 144px;
  margin: 0 auto;
  padding-top: 40px;
  height: 4px;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.slider-stripes-item {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: var(--border-dark, #C1B6AD);
}

.slider-stripes-item.active {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: var(--border-dark, #665F55);
}

.about {
  width: 100%;
}

.about__inner {
  width: 100%;
}

.about__title {
  color: var(--text-dark, #403F3D);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.about__title .note {
  color: #B0907A;
  font-style: italic;
}

.about__images {
  width: 100%;
  display: grid;
  padding-top: 40px;
  grid-template-columns: 660px 660px;
  grid-row: auto auto;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.about__images-item:nth-child(1) {
  width: 660px;
  height: 590px;
  border-radius: 20px;
  background-image: url(../../assets/images/about-1.png);
  background-size: 100%;
}

.about__images-item:nth-child(3) {
  width: 660px;
  height: 430px;
  border-radius: 20px;
  background-image: url(../../assets/images/about-2.png);
  background-size: 100%;
}

.about__images-item:nth-child(2) {
  width: 660px;
  height: 430px;
  border-radius: 20px;
  background-image: url(../../assets/images/about-3.png);
  background-size: 100%;
}

.about__images-item:nth-child(4) {
  width: 660px;
  height: 590px;
  border-radius: 20px;
  background-image: url(../../assets/images/about-4.png);
  background-size: 100%;
  position: relative;
  top: -160px;
}

.mobile-app {
  width: 100%;
}

.mobile-app__inner {
  width: 100%;
  padding-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-app__text {
  width: 630px;
  height: 342px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-app__heading {
  color: var(--text-dark, #403F3D);
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.mobile-app__heading .note {
  color: var(--text-accent, #B0907A);
  font-style: italic;
}

.mobile-app__subheading {
  color: var(--text-dark, #403F3D);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.mobile-app__button {
  width: 440px;
  display: flex;
  justify-content: space-between;
}

.mobile-app__btn {
  display: flex;
  width: 160px;
  padding: 12px 20px;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--border-dark, #665F55);
  cursor: pointer;
}

.app-store .mobile-app__btn-image {
  width: 36px;
  height: 36px;
  background-image: url(../../assets/icons/icon.svg);
  background-size: cover;
}

.mobile-app__btn-text {
  width: 100px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.mobile-app__btn-heading {
  color: var(--text-dark, #403F3D);
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.mobile-app__btn-subheading {
  color: var(--text-dark, #403F3D);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.google-store .mobile-app__btn-image {
  width: 36px;
  height: 36px;
  background-image: url(../../assets/icons/gs.svg);
  background-size: cover;
}

.mobile-app__image {
  width: 630px;
  height: 630px;
  background-image: url(../../assets/images/mobile-screens.png);
  background-size: 100%;
}

.mobile-app__btn:hover {
  background: #665F55;
}

.mobile-app__btn:hover .mobile-app__btn-heading,
.mobile-app__btn:hover .mobile-app__btn-subheading {
  color: #E1D4C9;
}

.mobile-app__btn:nth-child(1):hover .mobile-app__btn-image {
  width: 36px;
  height: 36px;
  background-image: url(../../assets/icons/icon-white.svg);
  background-size: cover;
}

.mobile-app__btn:nth-child(2):hover .mobile-app__btn-image {
  width: 36px;
  height: 36px;
  background-image: url(../../assets/icons/gs-white.svg);
  background-size: cover;
}

.contacts {
  width: 100%;
  padding: 100px 0px 40px;
}

.contacts__inner {
  border-radius: 40px;
  background: var(--background-container, #665F55);
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  gap: 100px;
  align-self: stretch;
}

.contacts-text {
  width: 530px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
}

.contacts-text__heading {
  color: var(--text-accent, #B0907A);
  font-feature-settings: "clig" off, "liga" off;
  /* Desktop/Heading/heading-2.accent */
  font-family: Inter;
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 125%;
}

.contacts-text__heading .note {
  color: var(--text-light, #E1D4C9);
  font-style: normal;
}

.contacts-text__socials .menu__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contacts-text__socials .menu__list .menu__list-item:nth-child(1) {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-light, #C1B6AD);
  cursor: pointer;
}

.contacts-text__socials .menu__list .menu__list-item:nth-child(2) {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-light, #C1B6AD);
  cursor: pointer;
}

.contacts-text__socials .menu__list .menu__list-item:nth-child(3) {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-light, #C1B6AD);
  cursor: pointer;
}

.contacts-text__socials .menu__list .menu__list-item:nth-child(1) .contacts-text__socials-img {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/icons/twitter.svg);
  background-size: cover;
}

.contacts-text__socials .menu__list .menu__list-item:nth-child(2) .contacts-text__socials-img {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/icons/instagram.svg);
  background-size: cover;
}

.contacts-text__socials .menu__list .menu__list-item:nth-child(3) .contacts-text__socials-img {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/icons/facebook.svg);
  background-size: cover;
}

.contacts__info {
  width: 530px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
}

.contacts__info-heading {
  color: var(--text-light, #E1D4C9);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.contacts__info.menu__list {
  color: var(--text-light, #E1D4C9);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.menu__list-item {
  list-style-type: none;
  display: flex;
}

.menu__list-item-block {
  display: flex;
  justify-content: space-between;
}

.menu__list-item-img.location {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background: url(../../assets/icons/pin-alt.svg);
}

.menu__list-item-img.phone {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background: url(../../assets/icons/phone.svg);
}

.menu__list-item-img.day {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background: url(../../assets/icons/clock.svg);
}

.contacts-text__socials .menu__list .menu__list-item:hover {
  background-color: #E1D4C9;
}

.contacts-text__socials .menu__list .menu__list-item:nth-child(1):hover .contacts-text__socials-img,
.contacts-text__socials .menu__list .menu__list-item:nth-child(2):hover .contacts-text__socials-img,
.contacts-text__socials .menu__list .menu__list-item:nth-child(3):hover .contacts-text__socials-img {
  filter: invert(50%) brightness(50%) contrast(50%);
}

.contacts__info .menu__list-item:nth-child(1):hover,
.contacts__info .menu__list-item:nth-child(2):hover {
  display: flex;
  text-decoration: none;
  color: #000;
  position: relative;
}

.contacts__info .menu__list-item a {
  text-decoration: none;
}

.contacts__info .menu__list-item a:visited,
.contacts__info .menu__list-item a:link,
.contacts__info .menu__list-item a:active,
.contacts__info .menu__list-item a:hover {
  color: #E1D4C9;
  text-decoration: none;
}

.contacts__info .menu__list-item:nth-child(1):hover,
.contacts__info .menu__list-item:nth-child(2):hover {
  cursor: pointer;
}

.contacts__info .menu__list-item:nth-child(1):after,
.contacts__info .menu__list-item:nth-child(2):after {
  content: "";
  background-color: #E1D4C9;
  height: 2px;
  width: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.2s;
}

.contacts__info .menu__list-item:nth-child(1):hover::after,
.contacts__info .menu__list-item:nth-child(2):hover::after {
  width: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 1440px) {
  .body._lock {
    overflow: hidden;
  }
  .header__logo {
    z-index: 999;
  }
  .nav-menu {
    display: none;
  }
  .header__link {
    display: none;
  }
  .header__link._active {
    display: block;
    position: fixed;
    top: 75%;
    left: -55%;
    width: 100%;
    height: 100%;
    transform: translate(100%, 0px);
    transition: all 0.3s ease 0s;
    font-size: 32px;
  }
  .header__link .link {
    width: 145px;
    display: flex;
  }
  .header__link-img {
    width: 40px;
    height: 40px;
  }
  .nav-menu__icon {
    display: block;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid #665F55;
    position: relative;
    cursor: pointer;
  }
  .nav-menu__icon span,
  .nav-menu__icon::before,
  .nav-menu__icon::after {
    left: 14px;
    position: absolute;
    height: 2px;
    width: 16px;
    transition: all 0.3s ease 0s;
    background-color: #403F3D;
  }
  .nav-menu__icon::before,
  .nav-menu__icon::after {
    content: "";
  }
  .nav-menu__icon::before {
    top: 15px;
  }
  .nav-menu__icon::after {
    bottom: 15px;
  }
  .nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(100%, 0px);
    background-color: #E1D4C9;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease 0s;
    font-size: 32px;
    /* overflow: auto; */
  }
  .nav-menu__list {
    padding-inline-start: 0px;
    width: 100%;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  .nav-menu._active {
    transform: translate(0px, 0px);
  }
  .nav-menu__icon._active span {
    background-color: #403F3D;
    transform: translate(5px, 10px) rotate(-45deg);
  }
  .nav-menu__icon._active::before {
    background-color: #403F3D;
    transform: rotate(-45deg);
  }
  .nav-menu__icon._active::after {
    background-color: #403F3D;
    transform: translate(0px, -10px) rotate(45deg);
  }
  .nav-menu_list li {
    margin: 0px 0px 30px 0px;
  }
  .nav-menu_list li:last-child {
    margin-bottom: 0px;
  }
  .nav-menu_list a {
    font-size: 24px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .container {
    width: 688px;
    margin: 0 auto;
  }
  .header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .hero__inner {
    background: center/cover no-repeat url(../../assets/images/img-hero.jpg);
    width: 688px;
    height: 644px;
  }
  .hero__text {
    padding-left: 60px;
  }
  .about__images {
    height: 1220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .about__images-item:nth-child(3) {
    display: none;
  }
  .about__images-item:nth-child(2) {
    display: none;
  }
  .about__images-item:nth-child(4) {
    position: static;
  }
  .mobile-app__inner {
    padding-top: 100px;
    height: 1072px;
    flex-direction: column;
  }
  .contacts__inner {
    flex-direction: column;
  }
  .contacts__info {
    width: 568px;
    height: 186px;
    margin: 0 auto;
  }
  .contacts__info ul {
    padding-left: 0px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 380px;
    margin: 0 auto;
  }
  .header__inner {
    width: 348px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .hero__inner {
    background: center/cover no-repeat url(../../assets/images/img-hero.jpg);
    width: 348px;
    height: 552px;
    margin: 0 auto;
  }
  .hero__text {
    padding: 0px;
    margin: 0 auto;
    width: 316px;
    height: 432px;
  }
  .hero__text-heading {
    font-size: 42px;
    line-height: 115%;
  }
  .favorite-coffee__inner {
    padding: 100px 0px;
    margin: 0 auto;
  }
  .favorite-coffee__title {
    font-size: 32px;
  }
  .favorite-coffee__slider {
    margin: 0 auto;
  }
  .favorite-coffee__slider-item {
    width: 348px;
  }
  .slider-item__image {
    width: 348px;
    height: 348px;
  }
  .slider-item__text {
    width: 100%;
    height: 164px;
  }
  .slider-button__slider-left {
    display: none;
  }
  .slider-button__slider-right {
    display: none;
  }
  .about__title {
    font-size: 32px;
  }
  .about__images {
    height: 1220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .about__inner {
    width: 348px;
  }
  .about__images-item:nth-child(1) {
    width: 348px;
    height: 590px;
    border-radius: 20px;
    background: center/cover no-repeat url(../../assets/images/about-1.png);
  }
  .about__images-item:nth-child(3) {
    display: none;
  }
  .about__images-item:nth-child(2) {
    display: none;
  }
  .about__images-item:nth-child(4) {
    width: 348px;
    height: 590px;
    border-radius: 20px;
    background: center/cover no-repeat url(../../assets/images/about-4.png);
    position: static;
  }
  .mobile-app__inner {
    padding-top: 100px;
    height: 768px;
    flex-direction: column;
  }
  .mobile-app__text {
    width: 348px;
    height: 380px;
    gap: 40px;
  }
  .mobile-app__heading {
    font-size: 32px;
  }
  .mobile-app__button {
    width: 100%;
    height: 148px;
    flex-direction: column;
  }
  .mobile-app__image {
    width: 348px;
    height: 348px;
  }
  .contacts__inner {
    width: 316px;
    height: 406px;
    padding: 60px 16px;
    margin: 0 auto;
    gap: 40px;
    flex-direction: column;
    justify-content: space-between;
  }
  .contacts-text {
    width: 316px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
  }
  .contacts-text__heading {
    font-size: 32px;
  }
  .contacts-text__socials {
    width: 204px;
    display: flex;
  }
  .contacts-text__socials ul {
    padding-inline-start: 0px;
  }
  .contacts__info {
    width: 100%;
    height: 186px;
    margin: 0 auto;
    gap: 16px;
  }
  .contacts__info ul {
    padding-left: 0px;
  }
}/*# sourceMappingURL=style.css.map */