.body {
  background-color: #E1D4C9;
}

.header {
  width: 100%;
}

.container {
  width: 1360px;
  margin: 0 auto;
}

.header__inner {
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.header__logo {
  width: 100px;
  height: 60px;
  background-image: url(../../assets/images/logo.png);
  background-size: 100%;
}

.nav-menu {
  width: 456px;
  color: var(--text-dark, #403F3D);
  font-feature-settings: "clig" off, "liga" off;
  /* Desktop/Action/link & button */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 24px */
}

.nav-menu__list {
  width: 456px;
  display: flex;
  justify-content: space-between;
  height: 27px;
  align-items: center;
  list-style: none;
}

.header__inner a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.header__link {
  display: block;
  width: 72px;
  height: 28px;
  position: relative;
  color: var(--text-dark, #403F3D);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.header__link::after {
  content: url(../../assets/images/coffee-cup.png);
  position: absolute;
  left: 52px;
}

.header__link-line {
  width: 72px;
  height: 2px;
  background: #403F3D;
}

.menu {
  width: 100%;
}

.menu__inner {
  width: 100%;
  margin: 0 auto;
}

.menu__inner-offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}

.menu_inner-heading {
  color: var(--text-dark, #403F3D);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.menu_inner-heading span {
  color: var(--text-accent, #B0907A);
}

.menu__inner-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.menu__inner-tabs {
  list-style-type: none;
}

.tabs__list-item {
  display: flex;
  padding: 11px 16px 11px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--border-light, #C1B6AD);
  color: var(--text-dark, #403F3D);
  text-align: center;
  text-decoration: none;
}

.tabs__list-item.active {
  background: var(--background-container, #665F55);
  color: var(--text-light, #E1D4C9);
}

.tab__list-icon {
  width: 30px;
  height: 30px;
  display: flex;
  padding: 3px 7px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--border-light, #C1B6AD);
}

.tabs__list-item:nth-child(1) .tab__list-icon {
  width: 16px;
  height: 24px;
  content: url(../../assets/icons/coffee.svg);
}

.tabs__list-item:nth-child(2) .tab__list-icon {
  width: 16px;
  height: 24px;
  content: url(../../assets/icons/tea.svg);
}

.tabs__list-item:nth-child(3) .tab__list-icon {
  width: 16px;
  height: 24px;
  content: url(../../assets/icons/desert.svg);
}

.menu__inner-dishes {
  width: 100%;
  display: grid;
  grid-template-columns: 310px 310px 310px 310px;
  grid-row: auto auto auto auto;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.dish-item {
  width: 310px;
  height: 506px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  border-radius: 40px;
  border: 1px solid var(--border-light, #C1B6AD);
}

.dish-item .dish-img {
  width: 310px;
  height: 310px;
  flex-shrink: 0;
  border-radius: 40px;
  background-size: 100%;
}

.dish-item:nth-child(1) .dish-img {
  background-image: url(../../assets/images/coffee-1.png);
}

.dish-item:nth-child(2) .dish-img {
  background-image: url(../../assets/images/coffee-2.png);
}

.dish-item:nth-child(3) .dish-img {
  background-image: url(../../assets/images/coffee-3.png);
}

.dish-item:nth-child(4) .dish-img {
  background-image: url(../../assets/images/coffee-4.png);
}

.dish-item:nth-child(5) .dish-img {
  background-image: url(../../assets/images/coffee-5.png);
}

.dish-item:nth-child(6) .dish-img {
  background-image: url(../../assets/images/coffee-6.png);
}

.dish-item:nth-child(7) .dish-img {
  background-image: url(../../assets/images/coffee-7.png);
}

.dish-item:nth-child(8) .dish-img {
  background-image: url(../../assets/images/coffee-8.png);
}

.dish-description {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}

.dish-heading {
  color: var(--text-dark, #403F3D);
  font-feature-settings: "clig" off, "liga" off;
  /* Desktop/Heading/heading-3 */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  /* 30px */
}

.dish-subheading {
  color: var(--text-dark, #403F3D);
  font-feature-settings: "clig" off, "liga" off;
  /* Desktop/Body/medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
}

.dish-price {
  color: var(--text-dark, #403F3D);
  font-feature-settings: "clig" off, "liga" off;
  /* Desktop/Heading/heading-3 */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  /* 30px */
}

.dish-item:nth-child(1) .dish-img.tea {
  background-image: url(../../assets/images/tea-1.png);
}

.dish-item:nth-child(2) .dish-img.tea {
  background-image: url(../../assets/images/tea-2.png);
}

.dish-item:nth-child(3) .dish-img.tea {
  background-image: url(../../assets/images/tea-3.png);
}

.dish-item:nth-child(4) .dish-img.tea {
  background-image: url(../../assets/images/tea-4.png);
}

.dish-item:nth-child(1) .dish-img {
  background-image: url(../../assets/images/dessert-1.png);
}

.dish-item:nth-child(2) .dish-img.dessert {
  background-image: url(../../assets/images/dessert-2.png);
}

.dish-item:nth-child(3) .dish-img.dessert {
  background-image: url(../../assets/images/dessert-3.png);
}

.dish-item:nth-child(4) .dish-img.dessert {
  background-image: url(../../assets/images/dessert-4.png);
}

.dish-item:nth-child(5) .dish-img.dessert {
  background-image: url(../../assets/images/dessert-5.png);
}

.dish-item:nth-child(6) .dish-img.dessert {
  background-image: url(../../assets/images/dessert-6.png);
}

.dish-item:nth-child(7) .dish-img.dessert {
  background-image: url(../../assets/images/dessert-7.png);
}

.dish-item:nth-child(8) .dish-img.dessert {
  background-image: url(../../assets/images/dessert-8.png);
}

.contacts {
  width: 100%;
  padding: 100px 0px 40px;
}

.contacts__inner {
  border-radius: 40px;
  background: var(--background-container, #665F55);
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  gap: 100px;
  align-self: stretch;
}

.contacts-text {
  width: 530px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
}

.contacts-text__heading {
  color: var(--text-accent, #B0907A);
  font-feature-settings: "clig" off, "liga" off;
  /* Desktop/Heading/heading-2.accent */
  font-family: Inter;
  font-size: 60px;
  font-style: italic;
  font-weight: 600;
  line-height: 125%;
}

.contacts-text__heading .note {
  color: var(--text-light, #E1D4C9);
  font-style: normal;
}

.contacts-text__socials .menu__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contacts-text__socials .menu__list .menu__list-item:nth-child(1) {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/icons/twitter.svg);
  background-size: cover;
  border-radius: 100px;
  border: 1px solid var(--border-light, #C1B6AD);
  cursor: pointer;
}

.contacts-text__socials .menu__list .menu__list-item:nth-child(2) {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/icons/instagram.svg);
  background-size: cover;
  border-radius: 100px;
  border: 1px solid var(--border-light, #C1B6AD);
  cursor: pointer;
}

.contacts-text__socials .menu__list .menu__list-item:nth-child(3) {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/icons/facebook.svg);
  background-size: cover;
  border-radius: 100px;
  border: 1px solid var(--border-light, #C1B6AD);
  cursor: pointer;
}

.contacts__info {
  width: 530px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
}

.contacts__info-heading {
  color: var(--text-light, #E1D4C9);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.menu__list {
  color: var(--text-light, #E1D4C9);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.menu__list-item.location::before {
  content: url(../../assets/icons/pin-alt.svg);
  position: relative;
  left: -10px;
}

.menu__list-item.phone::before {
  content: url(../../assets/icons/phone.svg);
  position: relative;
  left: -10px;
}

.menu__list-item.day::before {
  content: url(../../assets/icons/clock.svg);
  position: relative;
  left: -10px;
}/*# sourceMappingURL=style.css.map */