.dish-item:nth-child(1) .dish-img {
    background-image: url(../../assets/images/dessert-1.png);
}

.dish-item:nth-child(2) .dish-img.dessert {
    background-image: url(../../assets/images/dessert-2.png);
}

.dish-item:nth-child(3) .dish-img.dessert {
    background-image: url(../../assets/images/dessert-3.png);
}

.dish-item:nth-child(4) .dish-img.dessert {
    background-image: url(../../assets/images/dessert-4.png);
}
.dish-item:nth-child(5) .dish-img.dessert {
    background-image: url(../../assets/images/dessert-5.png);
}
.dish-item:nth-child(6) .dish-img.dessert {
    background-image: url(../../assets/images/dessert-6.png);
}
.dish-item:nth-child(7) .dish-img.dessert {
    background-image: url(../../assets/images/dessert-7.png);
}
.dish-item:nth-child(8) .dish-img.dessert {
    background-image: url(../../assets/images/dessert-8.png);
}


