.dish-item:nth-child(1) .dish-img.tea {
    background-image: url(../../assets/images/tea-1.png);
}

.dish-item:nth-child(2) .dish-img.tea {
    background-image: url(../../assets/images/tea-2.png);
}

.dish-item:nth-child(3) .dish-img.tea {
    background-image: url(../../assets/images/tea-3.png);
}

.dish-item:nth-child(4) .dish-img.tea {
    background-image: url(../../assets/images/tea-4.png);
}


